%a{name: "about"}
.about#about
  %h3 About
  .about
    %img{src: "images/picture.jpg", class: 'left'}
    %br As you may have guessed, my name is Ebba. Or I go by many names but Ebba is my birthname, so maybe the most professional one. Last name: Aniansson. Very Swedish in other words, even though I don't see myself as one. Other than being a non-swede, I am currently doing an intensive bootcamp in Gothenburgh - start-up capital of Sweden - and dreaming of the most basic stuff, travelling the world and becoming a world-changing entrepreneur.
    %br I am 18 years old and gratuated 2015. Since then I have been working as a waitress in a cozy cafe, south of Sweden, or for a medical practice in Stockholm. As well as taking some courses at the university in either Stockholm or one in Australia. The past year though I have been travelling in Australia, New Zealand, South East Asia and parts of Europe. After being away for some time, alone, I have grown a lot as person - surprise - and gotten a serious case of the travel bug. Something that I don't think will be cured for sometime.
    %br As I mentioned I am currently doing an intensive programming bootcamp. A bootcamp where I learn the basics of programming development in 12 weeks. Yeah, it sounds like a whole lot. Therefore the intensivness. Although I must say that I have somewhat fallen in love with it. I look forward to, after the graduation, finding similar internships och work - to help me grow even more. I love learning new stuff and I am never scared of trying something new.
    %br Other than all the above, I am a simple human being. Looking for the meaning of life, being happy and make people around me feel good. I love dogs, tacos and talking. I am obsessed with my computer, safari and Game of Thrones. And I constantly strive for either learning something new everyday or getting my mind blown everyday. A person can never grow enough. There is always something new to learn, to see and to do.
