%style
  body {
  background: #4F1D0C url('http://static.lioden.com/images/layout/background.jpg') fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  }

  .container {
  height: 1980px;
  width: 900px;
  margin: auto;
  background-color: white;
  }
